<main>
  <section>
    <ul>
    
    <% @users.each do |user| %>
      <%= link_to user do %>
        <li class="d-flex">
          <div class="d-flex spc-btw m-100 f-end p-1 wrap bg">
            <h2><%= user.name %></h2>
            <p class="m-50">Number of posts: <%= user.posts_counter || 0 %></p>
          </div>
        </li>
      <% end %>
    <% end %>
    </ul>
  <section/>
</main>
